.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 744px) {
  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__list {
    gap: 40px;
  }
}

.catalog__item {
  border-radius: 10px;
  background-color: var(--bg-brown-white-50);
  transition: var(--main-transition);

  &:hover {
    background-color: var(--bg-brown-white);
  }

  &:focus {
    border: 2px solid var(--primary-pink-white);
    background-color: var(--bg-brown-white);
  }
}
@media screen and (min-width: 744px) {
  .catalog__item {
    width: 350px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__item {
    max-width: 480px;
    width: calc(33.33% - 40px);
  }
}
@media screen and (min-width: 1560px) {
  .catalog__item {
    width: 100%;
  }
}

.catalog__link {
  padding: 12px;
  display: flex;
  gap: 18px;
}
@media screen and (min-width: 744px) {
  .catalog__link {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
    .catalog__link {
      align-items: normal;
    }
  }

.catalog__img-box {
  min-width: 130px;
  height: 112px;
  border-radius: 7px;
  overflow: hidden;
}
@media screen and (min-width: 744px) {
  .catalog__img-box {
    min-width: 290px;
    height: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__img-box {
    width: 100%;
    height: 300px;
  }
}
.catalog__item-content {
}
.catalog__item-head {
  margin-bottom: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .catalog__item-head {
    margin-bottom: 10px;
  }
}

.catalog__item-title {
  font-family: var(--secondary-font-family);
  font-size: 22px;
  font-weight: 500;
  line-height: calc(27.28 / 22);
}
@media screen and (min-width: 744px) {
  .catalog__item-title {
    font-size: 24px;
    line-height: calc(29.76 / 24);
  }
}
@media screen and (min-width: 1280px) {
  .catalog__item-title {
    font-size: 28px;
    line-height: calc(34.72 / 28);
  }
}

.catalog-item-icon {
  width: 25px;
  height: 25px;
}
.catalog__item-text {
  font-size: 12px;
  line-height: calc(19.2 / 12);
}
@media screen and (min-width: 744px) {
  .catalog__item-text {
    font-size: 14px;
    line-height: calc(22.4 / 14);
  }
}
