:root {
    // COLOR
    --defaul-100: #0A0A0A;
    --defaul-90: #171717;
    --defaul-80: #2E2E2E;
    --defaul-70: #747474;
    --defaul-60: #8B8B8B;
    --defaul-50: #A2A2A2;
    --defaul-40: #B9B9B9;
    --defaul-30: #DADADA;
    --defaul-20: #F2F2F2;
    --defaul-10: #FFFFFF;
    --primary-blue: #1D4688;
    --primary-brown: #8E5E32;
    --primary-orange: #F16334;
    --primary-yellow: #F8CD16;
    --primary-blue-white: #9DB1CB;
    --primary-pink-white: #F49397;
    --primary-brown-white: #F4E6D7;
    --secondary-blue-sky: #C7DDFA;
    --secondary-peach: #FFD1C1;
    --secondary-orange-hover: #D1481B;
    --bg-red: #FF0000;
    --bg-blue-white: #EBF1F9;
    --bg-blue-white-50: rgba(215, 227, 244, 0.5);
    --bg-blue-white-80: rgba(215, 227, 244, 0.8);
    --bg-brown-white: #FFEEDC;
    --bg-brown-white-50: rgba(244, 230, 215, 0.5);
    --bg-brown-white-80: rgba(244, 230, 215, 0.8);
    --bg-yellow-white-50: rgba(255, 239, 169, 0.5);

    --secondary-font-family: "Ubuntu", "san-serif";

    --main-transition: all 0.3s ease;
}